{% extends 'layout.html' %}
 
{% block content %}

<form action = "/board" method="POST">
    <br><br>
    <div center=True> 
        <p>자유롭게 feedback을 남겨주세요.<br></p>
        <p>context : <input type="text" id = "context" name = "context">
        <input type = "submit" value = "제출"/> </p>
    </div>
    
</form>

{% if feedback_list %}
    <ul>
        {% for feedback in feedback_list %}
             <li><p>{{ feedback.context }} {{ feedback.date }}</p></li>
        {% endfor %}
    </ul>
{% else %}
    <p>NLP DEMO Feedback 페이지입니다.</p>
{% endif %}

{% endblock %}